body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  background-image: url("https://bit.ly/3rylnty");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 0px;
  padding-bottom: 0px;  
  margin-left:0.5%;
  margin-right:0.5%;
  border-radius: 9px;
  -webkit-border-radius: 9px;  
}

.h1 {
  text-align: center;
  color:white;
  -webkit-text-stroke: 0.1px rgb(255, 217, 0); 
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 10vw ;
  }

.h1:hover {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(back.jpg);
  
  color: transparent;
  -webkit-text-stroke: 1.5px goldenrod;
  
}


.topnav {
  overflow: hidden;
  background-color: #333;
  margin-left:0.5%;
  margin-right:0.5%;
  border: 2px solid inherit;
  border-radius: 9px;
  -webkit-border-radius: 9px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: goldenrod;
  color: white;
}
